html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}


.body ul {
  list-style: none;
  padding-left: 0;
}

.body h2 {
  font-size: 3rem;
}

.contacto li,
.pie li,
.tecnologias li {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.contacto img,
.pie img,
.tecnologias li img {
  width: 30px;
  height: 30px;
  margin: 0;
}

.contacto,
.sobre-mi,
.tecnologias {
  width: 80vw;
  text-align: center;
  margin: 0 auto;
}

.main hr {
  height: 1px;
  background-color: #9c9c9c;
  box-shadow: 0px 0px 10px #9c9c9c;
}

.navegador ul,
.pie ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navegador li,
.pie li {
  font-size: 1.5rem;
  width: 25%;
  text-align: center;
}

.navegador li a {
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 10px;
}

.navegador li a:visited {
  color: black;
}

.navegador li a:hover {
  background: #9c9c9c;
  color: #ffffff;
}

.pie {
  font-size: 1.5rem;
  text-align: center;
}

.pie p {
  margin: 0;
}

.pie a {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.pie img {
  height: 3rem;
  width: 3rem;
}

.presentacion img {
  opacity: .5;
  width: 100%;
}

.sobre-mi p,
.tecnologias p {
  font-size: 1.5rem;
}

.sobre-mi img {
  /* height: 60vh; */
  width: 70vw;
}

.tecnologias img {
  width: 300px;
  height: auto;
}

.tecnologias figcaption {
  font-size: 1.5rem;
}